.overflow {
  .overflow-x: hidden;
}

.logo {
  height: 50px;
  object-fit: contain;
  /* padding-left: 164px; */
}

.brand-name {
  font-weight: normal;
  font-size: 30px;
  color: #ff7124;
  display: inline;
  vertical-align: text-top;
  padding-left: 15px;
  border-left: 1px solid #d0d0d0;
}

.nav-item {
  padding-right: 15px;
  color: #222222;
  font-size: 16px;
}

.nav-item a:hover {
  font-weight: bold;
  border-bottom: 2.5px solid #ee7b6f;
  border-radius: 1.5px;
}

.btn-sign-in {
  padding: 10px 20px;
  /* height: 46px; */
  border-radius: 4px;
  border: solid 1px #bcd0e5;
  font-weight: 600;
  font-size: 16px;
  color: #222222;
  margin-right: 12px;
  text-align: center;
}

.btn-sign-up {
  padding: 10px 20px;
  /* height: 46px; */
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  background-image: linear-gradient(113deg, #ffb48a, #ec6b69 100%);
  border-left: unset;
}

.btn-sign-up:hover {
  color: #ffffff;
}

.intro {
  font-size: 40px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.35;
  letter-spacing: normal;
  color: #222222
}

.intro-paragraph {
  font-size: 18px;
  line-height: 1.76;
  color: #222222;
  width: 85%;
}

.font-18 {
  font-size: 18px;
}

.btn-started {
  width: 175px;
  height: 52px;
  border-radius: 4px;
  background-image: linear-gradient(107deg, #ffb48a, #ec6b69);
  color: #ffffff;
  text-align: center;
  border-left: unset;
  font-weight: 600;
}

.play-btn {
  padding-left: 30px;
}

.orange-text {
  color: #ff9900;
  font-size: 16px;
  font-weight: 600;
}

.video-link a {
  color: #ff9900;
}

.w-100 {
  width: 100%
}

.intro-background {
  padding-bottom: 20px;
}

.bg {
  background-image: linear-gradient(0deg, rgba(255, 229, 210, 0.63) 4%, rgba(255, 244, 229, 0) 96%);
}

.scout-wide-card {
  border-radius: 10px;
  background-image: linear-gradient(280deg, #ffb48a, #ec6b69);
  margin: 0 60px;
}

.p-md-106 {
  padding: 0 106px;
  width: 100%;
}

.heading {
  font-size: 36px;
  font-weight: 800;
  color: #ffffff;
}

.description {
  font-size: 18px;
  color: #ffffff;
  line-height: 1.33;
  font-weight: normal;
}

.short-desc {
  color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  padding-left: 3.75rem;
  padding-top: 0.5rem;
}

.btn-pricing {
  /* height: 44px; */
  padding: 12px 30px;
  font-family: OpenSans;
  font-size: 16px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ec6c69;
  background-color: #ffffff;
}

.center-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 55%;
}

.pt-15 {
  padding-top: 15rem;
}

.section-headline {
  font-size: 36px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #2f281e;
}

.align-center {
  text-align: center;
}

.switch {
  position: relative;
  display: inline-block;
  width: 441px;
  height: 41px;
  /* border-radius: 0.188rem;
  border: solid 0.063rem #b3b3b3; */
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  -webkit-transition: .4s;
  transition: .4s;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  border-radius: 20.5px;
}

.slider:before {
  position: absolute;
  content: "TEACHERS";
  height: 100%;
  width: 55%;
  text-align: center;
  right: 50%;
  background-image: linear-gradient(101deg, #efbfd5, #9d61fd 100%);
  -webkit-transition: .4s;
  transition: .4s;
  color: #ffffff;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20.5px;
  padding-top: 10px;
}

input:checked+.slider {
  background-color: #ffffff;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
  /* box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1); */
}

input:focus+.slider {
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

input:checked+.slider:before {
  -webkit-transform: translateX(221px);
  -ms-transform: translateX(221px);
  transform: translateX(221px);
}

.slider:after {
  content: 'STUDENTS';
  color: black;
  display: block;
  position: absolute;
  transform: translate(50%, 50%);
  top: -1;
  left: 50%;
  font-size: 16px;
  text-align: center;
  font-family: Verdana, sans-serif;
  color: #222222;
  border-radius: 20.5px;
  font-weight: 500;
}

input:checked+.slider:after {
  content: 'STUDENTS';
  top: 0;
  left: 5%;
  font-size: 16px;
  font-weight: 500;
  border-radius: 20.5px;
}

input:checked+.slider:before {
  content: 'TEACHERS';
  color: #ffffff;
}

/* Rounded sliders */
.slider.round {
  border-radius: 20.5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.slider.round:before {
  border-radius: 20.5px;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1);
}

.stat-desc {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: normal;
  color: #222222;
  text-align: left;
  padding: 40px 35px;
}

.para {
  padding-left: 20px;
  padding-top: 10px;
  font-size: 22px;
  font-weight: 500;
  color: #222222;
}

.features {
  display: flex;
  padding-left: 30px;
  padding-top: 10px;
}

.features-prop {
  padding: 12px;
  font-size: 16px;
  font-weight: 500;
}

.p-b-5 {
  padding-bottom: 5%;
}

.feature-area {
  /* border-radius: 20px;
  padding-top: 5%; */
}

.features-background {
  /* height: 835px; */
  height: 720px;
  background-image: linear-gradient(0deg, rgba(255, 229, 210, 0.63) 99%, rgba(255, 244, 229, 0) 1%);
  padding: 0 50px;
}

.footer-background {
  background-color: #0e1015;
}

.footer-row {
  padding-top: 89px;
  padding-bottom: 10px;
}

.footer-brand-name {
  font-weight: normal;
  font-size: 30px;
  color: #ff7124;
  display: inline;
  vertical-align: top;
  padding-left: 15px;
  border-left: 1px solid #d0d0d0;
}

.footer-link {
  font-size: 16px;
  padding-bottom: 10px;
}

.footer-link a {
  color: #ffffff;
}

.footer-quote {
  font-size: 22px;
}

.form-control {
  color: #bcd0e5 !important;
  height: 3rem;
}

.border-right-0 {
  border-right: unset;
}

.border1 {
  /* border: 1px solid #222222; */
  /* padding-top: 300px; */
  height: 220px;
}

.pt340 {
  padding-top: 340px;
}

.feature1 {
  /* width: 274px; */
  border-radius: 26.5px;
  box-shadow: 0 2px 8px 0 rgba(86, 117, 146, 0.1);
  background-color: #ffffff;
  position: absolute;
  bottom: 1%;
  right: 15%;
  padding: 5px 10px;
}

.f-14 {
  font-size: 14px !important;
}

.feature2 {
  /* width: 63%; */
  border-radius: 26.5px;
  box-shadow: 0 2px 8px 0 rgba(86, 117, 146, 0.1);
  background-color: #ffffff;
  position: absolute;
  /* top: 100px; */
  top: 25%;
  right: 28%;
  padding: 5px 10px;
}

.feature3 {
  /* width: 55%; */
  border-radius: 26.5px;
  box-shadow: 0 2px 8px 0 rgba(86, 117, 146, 0.1);
  background-color: #ffffff;
  position: absolute;
  top: 95%;
  left: 15%;
  padding: 10px;
}

.feature4 {
  width: 65%;
  border-radius: 26.5px;
  box-shadow: 0 2px 8px 0 rgba(86, 117, 146, 0.1);
  background-color: #ffffff;
  position: absolute;
  top: 270px;
  left: 30%;
}

.feature5 {
  width: 65%;
  border-radius: 26.5px;
  box-shadow: 0 2px 8px 0 rgba(86, 117, 146, 0.1);
  background-color: #ffffff;
  position: absolute;
  top: 70%;
  left: 25%;
}

.head1 {
  padding-top: 15px;
  padding-left: 20px;
  color: #f03e3d;
  font-size: 16px;
  font-weight: 600;
}

.head2 {
  padding-top: 15px;
  padding-left: 20px;
  color: #7752be;
  font-size: 16px;
  font-weight: 600;
}

.head3 {
  padding-top: 15px;
  padding-left: 20px;
  color: #4bcbad;
  font-size: 16px;
  font-weight: 600;
}

.head4 {
  padding-top: 15px;
  padding-left: 20px;
  color: #fab005;
  font-size: 16px;
  font-weight: 600;
}

.head5 {
  padding-top: 15px;
  padding-left: 20px;
  color: #4dadf7;
  font-size: 16px;
  font-weight: 600;
}

.oval1 {
  width: 130px;
  height: 85px;
  border-radius: 48.5px;
  border: solid 0.5px #c2c2c2;
  position: absolute;
  left: 18%;
  top: 104%;
}

.oval2 {
  width: 130px;
  height: 85px;
  border-radius: 48.5px;
  border: solid 0.5px #c2c2c2;
  position: absolute;
  left: 55%;
  /* top: 260px; */
  top: 90%;
}

.oval3 {
  width: 130px;
  height: 85px;
  border-radius: 48.5px;
  border: solid 0.5px #c2c2c2;
  position: absolute;
  left: 80%;
  top: 338px;
}

.oval4 {
  width: 130px;
  height: 85px;
  border-radius: 48.5px;
  border: solid 0.5px #c2c2c2;
  position: absolute;
  left: 83%;
  top: 403px;
  /* top:240%; */
}

.oval5 {
  width: 130px;
  height: 85px;
  border-radius: 48.5px;
  border: solid 0.5px #c2c2c2;
  position: absolute;
  left: 75%;
  top: 130%;
}

.oval-img {
  display: block;
  width: 50%;
  margin: auto;
  padding-top: 10px;
}

.img-brain {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
}

.demo {
  position: absolute;
  text-align: center;
  top: 90%;
}

.demo-header {
  font-size: 36px;
  font-weight: 800;
  color: #222222;
}

.demo-para {
  font-size: 20px;
  color: #222222;
  padding: 0 30px;
}

@media only screen and (max-width : 992px) {
  .logo {
    height: 30px !important;
  }

  .brand-name {
    font-size: 20px;
  }

  .btn-pricing {
    margin: auto;
    margin-top: 10px;
  }

  .switch {
    width: 85%;
  }

  .stat-img {
    width: 100%;
  }

  .scout-wide-card {
    position: unset;
    top: unset;
    margin: 0 10px !important;
    padding-bottom: 10px;
  }

  .play-btn {
    padding-left: 10px;
  }

  .span4 .img-left {
    float: unset !important;
  }
}

.pt-10 {
  padding-top: 10rem;
}

.content-para {
  font-size: 20px;
  color: #222222;
  /* padding: 0 30px; */
  text-align: left;
  padding-left: 50px;
}

.key-features-background {
  background-image: linear-gradient(179deg, rgba(255, 229, 210, 0.63) 1%, rgba(255, 244, 229, 0) 99%);
}

.btn-align {
  display: block;
  margin: 0 auto;
}

.p-50 {
  padding: 50px;
}

.p-t-5 {
  padding-top: 5rem;
}

.key-benefits {
  padding-top: 90px;
}

.key-header {
  text-align: center;
  padding: 10px;
  font-size: 36px;
  font-weight: 800;
  color: #222222;
}

.span4 {
  padding-bottom: 35px;
}

.span4 img {
  margin-right: 10px;
}

.span4 .img-left {
  float: left;
}

.content-heading h3 {
  font-size: 22px;
  font-weight: 600;
  color: #222222;
}

.content-heading p {
  font-size: 16px;
  color: #222222;
}

.one-liner {
  font-size: 18px;
  font-weight: 600;
}

.scout-for-student {
  background-color: #f7f7f7;
}

.student-prop {
  font-size: 16px;
  font-weight: 500;
  padding-top: 10px;
  padding-left: 17px;
  padding-bottom: 15px;
}

.pl-40 {
  padding-left: 40px;
}


.speech-bubble-ds-arrow {
    border-left: 21px solid transparent;
    /* border-top: 20px solid rgba(0, 0, 0, 0.2); */
    bottom: -25px;
    position: absolute;
    right: 15px;
    /* border-radius: 5px; */
}

.speech-bubble-ds-arrow::after {
    border-left: 21px solid transparent;
    border-top: 21px solid #ffffff;
    bottom: 17px;
    content: "";
    position: absolute;
    right: 25px;
    border-radius: 11px;
}


.speech-bubble-ls-arrow {
    border-left: 21px solid transparent;
    /* border-top: 20px solid rgba(0, 0, 0, 0.2); */
    bottom: -25px;
    position: absolute;
    left: 15px;
    /* border-radius: 5px; */
}

.speech-bubble-ls-arrow::after {
    border-left: 21px solid transparent;
    border-top: 21px solid #ffffff;
    bottom: 17px;
    content: "";
    position: absolute;
    left: 15px;
    border-radius: 11px;
}
